@using TeamRheinlandLandingPage.Components
@inherits LayoutComponentBase

<div class="main-layout">

    <MyNavbar></MyNavbar>

    <div class="content">
        @Body
    </div>

    <footer id="footer" class="footer">

        <div class="container" style="padding:0px">
            <div class="row gy-3">
            </div>
        </div>

        <div class="container" style="padding:0px">
            <div class="copyright">
                &copy; Copyright <strong><span>Solarteam Rheinland</span></strong>. All Rights Reserved
            </div>
            <div class="credits">
            </div>
        </div>

    </footer><!-- End Footer -->
</div>