@page "/angebot"
@layout MainLayout


<PageTitle>Solarteam Rheinland</PageTitle>

<section id="angebot" class="about">

    <div class="container">
        <div class="section-header">
            <p>Unser Angebot</p>
        </div>
        <div class="row gy-4">
            <div class="col-lg-5 d-flex align-items-start">
                <div class="content ps-0 ps-lg-5">
                    <p>
                        Steigen Sie um auf grüne Energie!   
                    </p>
                    <ul style="font-size: 1.5em;">
                        <li><i class="bi bi-check2-all"></i> PV-Anlagen</li>
                        <li><i class="bi bi-check2-all"></i> Wallboxen</li>
                        <li><i class="bi bi-check2-all"></i> Batteriespeicher</li>
                    </ul>
                    <p>
                        Machen Sie den ersten Schritt in eine nachhaltige Zukunft
                    </p>
                </div>
            </div>
            <div class="col-lg-7 position-relative about-img" style="background-size: contain; background-position: center center; background-image: url(img/ev-gif.webp); background-repeat: no-repeat;"></div>

        </div>
    </div>
</section>

<section id="Leistungen" class="why-us section-bg">

    <div class="container">

        <div class="section-header">
            <p>Unsere Leistungen</p>
        </div>

        <div class="row gy-4" style="padding-bottom: 60px;">
            <div class="col-lg-12 d-flex align-items-center">
                <div class="row gy-4">
                    <div class="col-xl-3">
                        <div class="icon-box d-flex flex-column justify-content-center align-items-center">
                            <i class="bi bi-clipboard-data"></i>
                            <h4>Beratung</h4>
                            <p>Wir beraten Sie gerne unverbindlich zu den Möglichkeiten, Ihr Eigenheim fit für die Zukunft zu machen!</p>
                        </div>
                    </div><!-- End Icon Box -->

                    <div class="col-xl-3">
                        <div class="icon-box d-flex flex-column justify-content-center align-items-center">
                            <i class="bi bi-gem"></i>
                            <h4>Planung</h4>
                            <p>Wir legen großen Wert auf Kundennähe, individuelle Lösungen und Erreichbarkeit – mit uns bekommen Sie keine Lösung von der Stange</p>
                        </div>
                    </div><!-- End Icon Box -->

                    <div class="col-xl-3">
                        <div class="icon-box d-flex flex-column justify-content-center align-items-center">
                            <i class="bi bi-inboxes"></i>
                            <h4>Umsetzung</h4>
                            <p>Wir realisieren Ihre Anlage selber. Unser Qualitätsanspruch und unsere Erfahrung macht sich für Sie bezahlt. Starke Fachpartner ergänzen unser Angebot</p>
                        </div>
                    </div><!-- End Icon Box -->


                    <div class="col-xl-3">
                        <div class="icon-box d-flex flex-column justify-content-center align-items-center">
                            <i class="bi bi-clipboard-data"></i>
                            <h4>Service</h4>
                            <p>Wir sind auch nach Inbetriebnahme für Sie da und bieten Ihnen Wartung und Überwachung Ihrer Anlage an</p>
                        </div>
                    </div><!-- End Icon Box -->

                </div>
            </div>

        </div>

        <div class="section-header">
            <p>Ablauf</p>
        </div>
        <div class="wrapper">
            <div class="main-container">
                <div class="steps-container">
                    <div class="step in-progress">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                            <path d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z" />
                        </svg>
                        <div class="preloader"></div>
                        <div class="label loading">
                            Kontaktaufnahme
                            <div class="description">
                                Nehmen Sie telefonisch,
                                Per Mail oder über unser
                                Kontaktformular zu uns
                                Kontakt auf
                            </div>
                        </div>
                        <div class="icon completed">
                            <i class="fa-solid fa-phone-volume"></i>
                        </div>
                    </div>
                    <div class="line prev-step-in-progress"></div>
                    <div class="step completed">
                        <div class="label loading">
                            Terminvereinbarung
                            <div class="description">
                                Wir melden uns dann bei
                                Ihnen, um einen Termin für
                                Die Objektbesichtigung
                                festzulegen
                            </div>
                        </div>
                        <div class="icon completed">
                            <i class="fa-solid fa-calendar-check"></i>
                        </div>
                    </div>
                    <div class="line "></div>
                    <div class="step completed">
                        <div class="label loading">
                            Planung und Angebot
                            <div class="description">
                                Entsprechend Ihrer Wünsche
                                planen und simulieren wir Ihr
                                Projekt und unterbreiten Ihnen
                                ein maßgeschneidertes Angebot
                            </div>
                        </div>
                        <div class="icon completed">
                            <i class="fa-solid fa-list-check"></i>
                        </div>
                    </div>
                    <div class="line"></div>
                    <div class="step completed">
                        <div class="label loading">
                            Projektrealisierung
                            <div class="description">
                                Wir vereinbaren mit Ihnen
                                einen Bautermin und
                                realisieren Ihr Projekt
                            </div>
                        </div>
                        <div class="icon completed">
                            <i class="fas fa-home"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>