@page "/"
@layout MainLayout


<PageTitle>Solarteam Rheinland</PageTitle>


<section id="hero" class="hero align-items-center">
    <div class="hero" style="background-image: url('img/main2.jpg')"> </div>
    <div class="container">
        <div class="section-header">
            <p style="text-align: left;">Willkommen beim Solarteam Rheinland!</p>
        </div>
        <div class="content">
            <p>
                Der zuverlässige Partner für Ihre eigene, kleine Energiewende. Wir unterstützen Sie bei der Umsetzung von Photovoltaik-Anlagen, Batteriespeichern und Wallboxen. Von der Beratung bis hin zur Inbetriebnahme – bei dem Solarteam Rheinland erhalten Sie alles aus einer Hand.
                <br>Viel Spaß auf unserer Website!
            </p>
        </div>
    </div>
</section><!-- End Hero Section -->