@page "/referenzen"
@layout MainLayout


<PageTitle>Solarteam Rheinland</PageTitle>

<section id="events" class="events">
    <div class="container">

        <div class="section-header">
            <p>Referenzen</p>
        </div>

        <div class="container" style="display: grid; grid-template-columns: repeat(auto-fill, minmax(500px, 1fr)); gap: 20px;">

            <div style="margin-bottom: 80px; max-width: auto; box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23); border-radius: 8px; overflow: hidden; flex: 1; margin: 10px;">
                <div style="background: #FF8C00; padding: 20px; color: white;">
                    <p style="font-size: 24px; font-weight: 300; margin: 0; font-family: 'Helvetica Neue', sans-serif;">PV-Installation 1</p>
                </div>
                <div class="justify-content-end" style="background-image: url(img/events-1.jpg); padding-top: 80%; background-size: cover; background-position: center;">
                </div>
            </div>


            <div style="margin-bottom: 80px; max-width: auto; box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23); border-radius: 8px; overflow: hidden; flex: 1; margin: 10px;">
                <div style="background: #FF8C00; padding: 20px; color: white;">
                    <p style="font-size: 24px; font-weight: 300; margin: 0; font-family: 'Helvetica Neue', sans-serif;">PV-Installation 2</p>
                </div>
                <div class="justify-content-end" style="background-image: url(img/events-2.jpg); padding-top: 80%; background-size: cover; background-position: center;">
                </div>
            </div>

            <div style="margin-bottom: 80px; max-width: auto; box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23); border-radius: 8px; overflow: hidden; flex: 1; margin: 10px;">
                <div style="background: #FF8C00; padding: 20px; color: white;">
                    <p style="font-size: 24px; font-weight: 300; margin: 0; font-family: 'Helvetica Neue', sans-serif;">Wallbox Installation</p>
                </div>
                <div class="justify-content-end" style="background-image: url(img/events-3.jpg); padding-top: 80%; background-size: cover; background-position: center;">
                </div>
            </div>

        </div>
    </div>

</section>