@page "/ueberuns"
@layout MainLayout


<PageTitle>Solarteam Rheinland</PageTitle>


<section id="about" class="about">
    <div class="container">

        <div class="section-header">
            <p>Erfahren Sie mehr über uns</p>
        </div>

        <div class="row gy-4">
        </div>
        <div class="d-flex align-items-end">
            <div class="content">

                <blockquote style="
              font-family: 'Times New Roman', serif;
              font-size: 24px;
              line-height: 1.5;
              text-align: center;
              margin: 50px auto;
              padding: 20px;
              position: relative;
              background: #f9f9f9;
              border-left: 5px solid #ccc;">
                    <p style="margin: 0;">
                        “Überall in Deutschland, sei es im privaten Alltag, in den Nachrichten oder während unseres Studiums, wird über die Energiewende gesprochen. Photovoltaik steht zweifelsohne im Zentrum der künftigen Stromerzeugung.<br><br>
                        Als junge Experten waren wir von den Vorteilen dieser Technologie bereits während unserer Studienzeit begeistert. Für uns stand fest: Hier liegt unsere berufliche Passion.
                        Doch warum trägt Photovoltaik, obwohl seit Jahren marktreif, nur zu etwa 10% zur deutschen Stromproduktion bei, während ein Drittel noch aus Kohle gewonnen wird? Die Hürden? Ein Defizit an Fachexperten und eine überbordende Bürokratie.<br><br>
                        Dies sahen wir als unseren Aufruf, mit Leidenschaft einzugreifen und die Energiewende aktiv zu gestalten!”
                    </p>
                    <cite style="
                  display: block;
                  margin-top: 20px;
                  font-size: 18px;
                  font-style: normal;">— Vincent Ecker & Jan-Hendrik Bitter</cite>
                </blockquote>


                <section id="chefs" class="chefs">
                    <div class="container">
                        <div class="row gy-4">

                            <div class="col-lg-5 col-md-5 d-flex align-items-stretch" style="margin-right: 1vw;">
                                <div class="chef-member">
                                    <div class="member-img">
                                        <img src="img/chefs/chefs-1.jpg" class="img-fluid" alt="">
                                    </div>
                                    <div class="member-info" style="padding: 10%;">
                                        <h4>Vincent Ecker</h4>
                                        <span>Gründer</span>
                                        <p>
                                            B. Eng. in Erneuerbare Energien<br>
                                            Jahrelange Erfahrung in der Umsetzung von Photovoltaik-Anlagen – vom Netzantrag über die Installation bis hin zur Inbetriebnahme
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-5 col-md-5 d-flex align-items-stretch" style="margin-left: 1vw;">
                                <div class="chef-member">
                                    <div class="member-img">
                                        <img src="img/chefs/chefs-1.jpg" class="img-fluid" alt="">
                                    </div>
                                    <div class="member-info" style="padding: 10%;">
                                        <h4>Jan-Hendrik Bitter</h4>
                                        <span>Gründer</span>
                                        <p>
                                            IHK-Ausbildung zum Industriekaufmann<br>
                                            B. Eng. in Wirtschaftsingenieurwesen (Schwerpunkt Unternehmensführung und Controlling)<br>
                                            Erfahrung in der Projektierung von PV-Großanlagen, Netzanschlüsse etc.
                                        </p>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </section>
            </div>
        </div>
    </div>
</section>