<nav class="header fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">
        <!-- Logo -->
        <a href="" class="logo d-flex align-items-center me-auto me-lg-0">
            <img src="img/Logo_Solarteam.png" alt="Logo">
        </a>

        <!-- Menu -->
        <nav id="navbar" class="navbar">
            <ul>
                <li><NavLink href="/angebot" ActiveClass="active">Leistungen</NavLink></li>
                <li><NavLink href="/referenzen" ActiveClass="active">Referenzen</NavLink></li>
                <li><NavLink href="/ueberuns" ActiveClass="active">Über uns</NavLink></li>
                <li><NavLink href="/wiesen" ActiveClass="active">Wiesen</NavLink></li>
            </ul>
        </nav>

        <!-- Contact Button -->
        <a class="btn-book-a-table" href="/kontakt">Kontakt</a>
        <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
        <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
    </div>
</nav>
